*{
    padding:0px;
    margin:0px;
    padding:20px;
}

.Header{
    background-color: rgb(147, 219, 219);
    color: black;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    word-spacing: 2px;
    padding:10px;
    border:5px solid grey;
    border-bottom: none;
}