.Maincomponent{
    border:5px solid red;
    background-color: rgb(176, 108, 240);
    width:950px;
    padding:15px;
}

.Maincomponent-name{
    color:rgb(206, 187, 187);
}
h1{
    margin-bottom: 60px;
}