.Sidebar{
    border:5px solid red;
    
    height:87%;
    padding:15px;
}

.Sidebar-name{
    color:rgb(206, 187, 187);
    text-align: center;
    margin-bottom:15px;
}

.Sidebar-list{
   text-align: center;
   padding:10px;
   width:300px;
   height: 258px;
   background-color: aqua;
   font-size: 20px;
}

.Sidebar-list-elements{
    border: 4px solid green;
    text-align: center;
    border-bottom:none;
    padding-top:3px;
    padding-bottom:30px;
    font-size:20px;
    font-weight:1000;
}
.Sidebar-list-elements:last-child{
    border-bottom:4px solid green;
}